.table thead th {
  
    vertical-align: bottom; 
    border-bottom: 2px solid #dee2e6; 
    text-align: center; 
    }
   
    .left { 
    text-align: left; 
    }
    
    .center {

    text-align: center; 
    }
    
    .right {
    text-align: right; 
    }
    
    .btn-submit {
    width: 100px; 
    }
    
    .btn-reset {
    width: 100px; 
    }
    
    .foto-thumbnail {
    padding: .07rem; 
    background-color: #fff; 
    border: 1px solid #dee2e6; 
    border-radius: .25rem; 
    width: 3.3rem; 
    height: auto; 
    }

    .foto-preview {
    padding: .25rem; 
    background-color: #fff; 
    border: 1px solid #dee2e6; 
    border-radius: .25rem; 
    width: 12rem; 
    height: 16rem; 
    }
    .title-icon { 
    margin-right: 7px; 
} 