.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    text-align: center;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.btn-submit {
    width: 100px;
}

.btn-reset {
    width: 100px;
}

.foto-thumbnail {
    padding: .07rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    width: 3.3rem;
    height: auto;
}

.foto-preview {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    width: 12rem;
}

.title-icon {
    margin-right: 7px;
}

.love-icon {
    color: #0059ff;
}                                                                                                                                                    /* DANNI RAMDHANI SAMSUDIN */

.form-ubah {
    margin-left: .8rem;
}

.tgl-lahir {
    margin-top: 1rem;
}

footer {
    margin-bottom: 1.25rem;
}

@media only screen and (min-width: 480px) and (max-width: 1080px) {
    #button-tambah {
        margin-left: -3.5rem;
    }

    .button-ubah {
        margin-bottom: .5rem;
    }

    .foto-siswa {
        margin-top: 2rem;
    }

    .button-simtal {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 480px) {
    #button-tambah {
        margin-left: -4.5rem;
    }

    .button-ubah {
        margin-bottom: .5rem;
    }

    .foto-siswa {
        margin-top: 2rem;
    }

    .button-simtal {
        margin-top: 2rem;
        text-align: center;
    }
}